
menu "Phase 2: Node Bootstrapping"

config phase2.docker_registry
	string "docker registry"
	default "gcr.io/google-containers"
	help
	  The docker registry to pull cluster components from.

config phase2.kubernetes_version
	string "kubernetes version"
	default "v1.2.4"
	help
	  The version of Kubernetes to deploy.

endmenu
