
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: infrastructureproviders.operator.cluster.x-k8s.io
spec:
  group: operator.cluster.x-k8s.io
  names:
    kind: InfrastructureProvider
    listKind: InfrastructureProviderList
    plural: infrastructureproviders
    singular: infrastructureprovider
  scope: Namespaced
  versions:
  - name: v1alpha4
    schema:
      openAPIV3Schema:
        description: InfrastructureProvider is the Schema for the infrastructureproviders API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: InfrastructureProviderSpec defines the desired state of InfrastructureProvider
            type: object
          status:
            description: InfrastructureProviderStatus defines the observed state of InfrastructureProvider
            type: object
        type: object
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
