# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
cmd/clusterctl/clusterctl
cmd/manager/manager
bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IntelliJ
.idea/
*.iml

# Bazel symlinks
bazel-bin
bazel-cluster-api
bazel-genfiles
bazel-out
bazel-testlogs

# kubeconfigs
minikube.kubeconfig

# GitBook - do not check in node_modules for a specific arch and os.
docs/book/node_modules/

# Common editor / temporary files
*~
*.tmp

# rbac and manager config for example provider
config/ci/rbac/rbac_role_binding.yaml
config/ci/rbac/rbac_role.yaml
config/ci/manager/manager.yaml

