apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# Each entry in this list must resolve to an existing
# resource definition in YAML.  These are the resource
# files that kustomize reads, modifies and emits as a
# YAML string, with resources separated by document
# markers ("---").
resources:
- cluster.k8s.io_clusters.yaml
- cluster.k8s.io_machines.yaml
- cluster.k8s.io_machinesets.yaml
- cluster.k8s.io_machineclasses.yaml
- cluster.k8s.io_machinedeployments.yaml
