
menu "Phase 1: Cluster Resource Provisioning"

config phase1.num_nodes
	int "number of nodes"
	default 4
	range 1 1000
	help
	  The number of nodes you would like to provision.

config phase1.instance_prefix
	string "instance prefix"
	default "kuberentes"
	help
	  A prefix to append to all instance names.

menuconfig phase1.cloud_provider
	string "cloud proivder"
	default "gce"
	help
	  The cloud provider you would like to deploy to.

	  Valid options are (gce).

if phase1.cloud_provider = "gce"
	source "phase1/gce/Kconfig"
endif

endmenu
