apiVersion: cluster.k8s.io/v1alpha1
kind: MachineSet
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: machineset-sample
spec:
  replicas: 3
  selector:
    matchLabels:
      # Add fields here
      foo: bar
  template:
    metadata:
      labels:
        foo: bar
