
menu "Phase 3: Deploying Addons"

config phase3.run_addons
	bool "Run the addon manager?"
	default y
	help
	  Should we deploy the addon manager?

if phase3.run_addons

config phase3.kube_proxy
	bool "Run kube-proxy?"
	default y
	help
	  Should we deploy the kube-proxy to nodes?

config phase3.dashboard
	bool "Run the dashboard?"
	default y
	help
	  Should we deploy the kubernetes dashboard?

config phase3.kube_dns
	bool "Run kube-dns?"
	default y
	help
	  Should we deploy kube-dns?

config phase3.elasticsearch
	bool "Run elasticsearch?"
	default y
	help
	  Should we deploy elasticsearch?

endif

endmenu
