name: PR title verifier

on:
  pull_request_target:
    types: [opened, edited, synchronize, reopened]

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # tag=v6.0.0

      - name: Check if PR title is valid
        env:
          PR_TITLE: ${{ github.event.pull_request.title }}
        run: |
          ./hack/verify-pr-title.sh "${PR_TITLE}"

