menu "GCE configuration"

config phase1.gce.os_image
	string "OS image for nodes"
	default "ubuntu-1604-xenial-v20160420c"
	help
	  The OS image you would like to use.

config phase1.gce.instance_type
	string "instance type"
	default "n1-standard-2"
	help
	  The instance type to use.

config phase1.gce.project
	string "GCP project"
	help
	  The GCP project to use.

config phase1.gce.region
	string "region"
	default "us-central1"
	help
	  The GCP region to use.

config phase1.gce.zone
	string "zone"
	default "us-central1-b"
	help
	  The GCP zone to use. Must be in the previously specified region.

config phase1.gce.network
	string "network"

endmenu
